@font-face {
    font-family: 'Muli';
    src: url('../fonts/mulii/Muli.woff2') format('woff2'),
       url('../fonts/mulii/Muli.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src:url('../fonts/mulii/Muli-Bold.woff2') format('woff2'),
       url('../fonts/mulii/Muli-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src:url('../fonts/mulii/Muli-ExtraBold.woff2') format('woff2'),
       url('../fonts/mulii/Muli-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mangal';
    src: url('../fonts/mangel/Mangal-Regular.woff2') format('woff2'),
    url('../fonts/mangel/Mangal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muli';
    src: url('../fonts/mulii/Muli-SemiBold.woff2') format('woff2'),
    url('../fonts/mulii/Muli-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muli';
    src: url('../fonts/mulii/Muli-Black.woff2') format('woff2'),
        url('../fonts/mulii/Muli-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Times New Roman Cyr';
    src: url('../fonts/times_new/TimesNRCyrMT.woff2') format('woff2'),
    url('../fonts/times_new/TimesNRCyrMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



