@import '../scss/defalut';
@import '../scss/header';
@import "../scss/common";

.banner {
    position: relative;
    color: #083791;

    .banner-bck {
        position: absolute;
        @include inset;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .banner-wrapper {
        padding: 183px 0px;

        .ourdoc {
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            font-family: "Muli";
            padding-bottom: 22px;
            display: inline-block;
        }

        .h1tag {
            max-width: 600px;

            h1 {
                font-size: 50px;
                line-height: 1.2;
                font-weight: 900;
            }
        }

        .childs {
            font-size: 17px;
            line-height: 1.2;
            font-weight: 600;
            padding-top: 22px;
            display: inline-block;
        }

        .com_anchor {
            margin-top: 48px;
            max-width: 229px;
            min-height: 49px;
            display: flex;
            align-items: center;
            justify-content: center;

            :hover {
                background-color: #083791;
            }

            a {
                border-radius: 5px;
                -webkit-border-radius: 5px;
                font-size: 17px;
                line-height: 1.2;
                color: #ffffff;
                font-weight: 600;
                width: 100%;
                padding: 10px;
                background-color: #ff8e32;
                transition: .4s;
                text-align: center;
            }

        }

    }
}